<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tesla Tracker</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/index.js"></script>   <!--Link to alphavantage-->



</head>
<body>
    <script src="/node_modules/alphavantage/dist/bundle.js"></script>
    <script type="application/javascript">
    /**
     * Init Alpha Vantage with your API key.
     *
     * @param {String} key
     *   Your Alpha Vantage API key.
     */
    const alpha = alphavantage({ key: '2R4U55YO6G05KX6E' });
    </script>

    
    <header id="page_header">
        <nav>
            <a href="https://www.nasdaq.com/">NASDAQ</a>
            <a href="/views/about.ejs">BITCOIN</a>
            <a href="/views/notifications.ejs">ALERTS</a>
        </nav>
        <h1>Tesla Price Tracker</h1>
    </header>

    <main>
        <h2>Chart goes here</h2><br>
  
        <!--Centering CSS referenced from w3schools howto center an img-->
        <img src="/public/img/TSLAchart.png" alt="Tesla YTD chart" class="center">

       <!-- <iframe src="https://www.nasdaq.com/market-activity/stocks/tsla" title="TSLA"></iframe> -->
    </main>

    <footer>
        <br><br><br><hr>
        <p>&copy; Lemuel Cheon 2021</p>
        <a href="mailto:lscheon@oakland.edu">lscheon@oakland.edu<br><br></a>
        <a href="#page_header">Click here to return to the top</a>
    </footer>
    
</body>
</html>